<div class="{{messageModalData?.modalClass}}">
    <mat-progress-bar *ngIf="messageModalData?.showLinnearProgress"
                      color="primary"
                      mode="indeterminate"></mat-progress-bar>
    <div class="flex flex-col">
        <h3 *ngIf="messageModalData.title"
            class="text-lg font-medium mb-1"> {{ messageModalData.title | translate }} </h3>
        <div class="flex flex-row items-center">
            <div *ngIf="!!messageModalData.modalType"
                 class="overflow-hidden mr-4">
                <mat-icon *ngIf="isError()"
                          class="text-red-500 w-12 h-12 text-5xl">highlight_off</mat-icon>
                <mat-icon *ngIf="isWarning()"
                          class="text-yellow-700 w-12 h-12 text-5xl">warning</mat-icon>
                <mat-icon *ngIf="isSuccess()"
                          class="text-green-500 w-12 h-12 text-5xl">check_circle_outline</mat-icon>
                <mat-icon *ngIf="isInfo()"
                          class="text-blue-500 w-12 h-12 text-5xl">help_outline</mat-icon>
            </div>
            <div class="flex-1 text-base content-message">
                <span [innerHTML]="messageModalData.message | translate"></span>
            </div>
        </div>
        <div class="flex flex-row justify-end pt-4">
            <button *ngFor="let action of messageModalData.actions;first as isFirst"
                    class="{{action.actionClass}}"
                    [class.ml-2]="!isFirst"
                    mat-button
                    color="{{action.pallete}}"
                    tabindex="-1"
                    [mat-dialog-close]="action.value">{{ action.text | translate }}</button>
        </div>
    </div>
</div>