@use '~@angular/material' as mat;
@import "material-colors/dist/colors.var.css";
@import "~@angular/material/theming";
@include mat.core();

$app-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$indigo-palette),
            accent: mat.define-palette(mat.$green-palette),
            warn: mat.define-palette(mat.$red-palette),
        ),
    )
);

@include mat.all-component-themes($app-theme);

:root {
    --primary: var(--md-indigo-500);
    --accent: var(--md-green-500);
    --warn: var(--md-red-500);
    --default: var(--md-grey-800);
}
