@import "material-colors/dist/colors.var.css";
@import "~@angular/material/theming";
@include mat-core();

$app-theme: mat-light-theme(
    (
        color: (
            primary: mat-palette($mat-indigo),
            accent: mat-palette($mat-green),
            warn: mat-palette($mat-red),
        ),
    )
);

@include angular-material-theme($app-theme);

:root {
    --primary: var(--md-indigo-500);
    --accent: var(--md-green-500);
    --warn: var(--md-red-500);
    --default: var(--md-grey-800);
}
