<div class="h-screen flex flex-col">
    <p>
        <mat-toolbar color="primary"
                     class="flex flex-row items-center">
            <button mat-icon-button
                    (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h2 class="text-2xl ml-4 flex-1">{{'MASTER_PAGE.TITLE' | translate }}</h2>
            <button>
                <mat-icon matTooltipClass="whitespace-pre-line"
                          matTooltip="{{'MASTER_PAGE.USER_TOOLTIP' | translate : { version: (appVersion$ | async), username: (username$ | async)} }}">
                    account_circle </mat-icon>
            </button>
        </mat-toolbar>
    </p>

    <mat-sidenav-container class="flex-auto flex flex-col">

        <!-- Main Nav -->
        <mat-sidenav [mode]="sidenavMode"
                     [opened]="lockedSidenav"
                     class="sidenav pt-0 flex-col"
                     #sidenav>

            <div class="h-full flex flex-col justify-between">
                <mat-nav-list>
                    <a mat-list-item
                       *ngFor="let item of (navItems$ | async)"
                       [disabled]="item.disabled"
                       (click)="selectNavItem(item)">
                        <mat-icon [ngClass]="{'text-grey-600':!item.disabled, 'text-grey-400':item.disabled}"
                                  matBadgeColor="accent"
                                  matBadgeSize="small"
                                  [matBadge]="item.badge"
                                  matBadgePosition="above after">{{item.icon}}</mat-icon>
                        <span class="ml-2 text-sm"
                              [class.text-grey-400]="item.disabled"> {{item.text | translate }} </span>
                        <mat-divider inset="true"
                                     *ngIf="item.divider"></mat-divider>
                    </a>
                </mat-nav-list>
                <div class="mb-4 mt-2"
                     *ngIf="(appVersion$ | async) as appVersion">
                    <span mat-list-item
                          class="text-sm ml-4">{{ 'MASTER_PAGE.NAV.VERSION' | translate}}: {{appVersion}}</span>
                </div>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <!-- Contenido  -->
            <router-outlet></router-outlet>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>